@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

  display: flex;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
  padding: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  border: 1px solid transparent;

  border-radius: 0.75rem;
  &:hover {
    border: 1px solid hsla(0, 0%, 50%, 0.15);
    background: linear-gradient(
      45deg,
      hsla(0, 0%, 40%, 0.1),
      hsla(0, 0%, 80%, 0.06)
    );
  }
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* Shadow */
.component-shadow-1 {
  .card {
    margin: 0 auto;
    width: 50%;
    height: 33%;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
  }

  /* Useful css equivalent to tailwind's shadow-lg */
  .c-shadow-lg {
    --ring-color: rgb(17 24 39 / 0.05);
    --ring-inset: ;
    --ring-offset-width: 0px;
    --ring-offset-color: #fff;
    --ring-color: rgb(17 24 39 / 0.05);
    --ring-offset-shadow: var(--ring-inset) 0 0 0 var(--ring-offset-width)
      var(--ring-offset-color);
    --ring-shadow: var(--ring-inset) 0 0 0 calc(1px + var(--ring-offset-width))
      var(--ring-color);
    --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow),
      var(--shadow, 0 0 #0000);
  }
}

/* Bubble button */
.bubble-button {
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: #ccd0d4;
  position: relative;
  height: 140px;
  width: 140px;

  &::before {
    box-shadow: 0 0 17.5px 8.75px #fff;
    border-radius: 118.3px;
    background: #fff;
    position: absolute;
    margin-left: -50.4px;
    margin-top: -50.4px;
    opacity: 0.2;
    content: '';
    height: 100.8px;
    width: 100.8px;
    left: 50%;
    top: 50%;
  }

  & button {
    --blur-size: 0.3px;
    -webkit-filter: blur(var(--blur-size));
    -moz-filter: blur(ar(--blur-size));
    filter: blur(var(--blur-size));
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
      inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
      0 -10px 15px -1px rgba(255, 255, 255, 0.6),
      inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
      inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
      inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
    border-radius: 96.32px;
    position: absolute;
    background: #ccd0d4;
    margin-left: -48.16px;
    margin-top: -48.16px;
    display: block;
    height: 96.32px;
    width: 96.32px;
    left: 50%;
    top: 50%;

    &:active {
      box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4),
        inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9),
        0 -10px 15px -1px rgba(255, 255, 255, 0.6),
        inset 0 8px 25px 0 rgba(0, 0, 0, 0.4),
        inset 0 0 10px 1px rgba(255, 255, 255, 0.6);

      .label {
        font-size: 40px;
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }

  & .label {
    transition: color 300ms ease-out;
    text-shadow: 1px 1px 3px #ccd0d4, 0 0 0 rgba(0, 0, 0, 0.8), 1px 1px 4px #fff;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    display: block;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    color: rgba(0, 0, 0, 0.4);
  }
}
